/* Custom styles */


.header-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo img {
    position: relative;
    left: -50px;
    height: 50px; /* Adjust logo size */
}
.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.navbar a:hover {
    color: #007bff;
}
#search-box {
    display: flex;
    align-items: center;
    max-width: 500px;
    widows: 100%;
}

#search-box button {
    border-radius: 0 10px 10px 0; /* Điều chỉnh giá trị này theo ý muốn */
}

#search-box input{
    border-radius: 10px 0 0 10px; /* Điều chỉnh giá trị này theo ý muốn */

}


#search-text {
    flex-grow: 1;
    padding: 8px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ced4da;
    border-right: none;
}
#search-btn {
    border-radius: 0 4px 4px 0;
    padding: 8px 12px;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: white;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}